@import '../mixin';

.about-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150vh;
    padding-top: 100px;
    background-color: #fff;

    @include mobileMQ {
        padding-top: 70px;
    }

    h2 {
        font-size: 30px;
        margin-bottom: 50px;

        @include mobileMQ {
            font-size: 24px;
        }
    }

    .wrapper {
        height: 85%;
        display: grid;
        grid-template-columns: repeat(13, 1fr);
        grid-template-rows: repeat(15, 1fr);
        row-gap: 0;
        column-gap: 10px;

        h2 {
            margin-bottom: 10px;
        }

        h3 {
            text-align: center;
            font-size: 25px;

            @include mobileMQ {
                font-size: 18px;
            }
        }

        p {
            text-align: center;
            margin: 0 10px;
        }
    }

    .grid-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-y: hidden;
        overflow-x: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        h2 {
            margin-top: 0;
        }
    }

    .grid-container-1 {
        grid-column: 3 / 6;
        grid-row: 1 / 5;

        @include mobileMQ {
            grid-column: 2 / 6;
            grid-row: 1 / 5;
        }
    }

    .grid-container-2 {
        grid-column: 3 / 6;
        grid-row: 5 / 6;

        @include mobileMQ {
            grid-column: 2 / 6;
            grid-row: 5 / 6;
        }
    }

    .grid-container-3 {
        grid-column: 3 / 6;
        grid-row: 6 / 11;

        @include mobileMQ {
            grid-column: 2 / 6;
            grid-row: 6 / 11;
        }
    }

    .grid-container-4 {
        grid-column: 3 / 6;
        grid-row: 11 / 12;

        @include mobileMQ {
            grid-column: 2 / 6;
            grid-row: 11 / 12;
        }
    }

    .grid-container-5 {
        grid-column: 3 / 6;
        grid-row: 12 / 16;

        @include mobileMQ {
            grid-column: 2 / 6;
            grid-row: 12 / 16;
        }
    }

    .grid-container-6 {
        grid-column: 6 / 9;
        grid-row: 1 / 7;
    }

    .grid-container-7 {
        flex-direction: column;
        grid-column: 6 / 9;
        grid-row: 7 / 10;

        h2 {
            text-align: center;

            @include mobileMQ {
                display: none;
            }
        }
    }

    .grid-container-8 {
        grid-column: 6 / 9;
        grid-row: 10 / 16;
    }

    .grid-container-9 {
        grid-column: 9 / 12;
        grid-row: 1 / 5;

        @include mobileMQ {
            grid-column: 9 / 13;
            grid-row: 1 / 5;
        }
    }

    .grid-container-10 {
        grid-column: 9 / 12;
        grid-row: 5 / 6;

        @include mobileMQ {
            grid-column: 9 / 13;
            grid-row: 5 / 6;
        }
    }

    .grid-container-11 {
        grid-column: 9 / 12;
        grid-row: 6 / 11;

        @include mobileMQ {
            grid-column: 9 / 13;
            grid-row: 6 / 11;
        }
    }

    .grid-container-12 {
        grid-column: 9 / 12;
        grid-row: 11 / 12;

        @include mobileMQ {
            grid-column: 9 / 13;
            grid-row: 11 / 12;
        }
    }

    .grid-container-13 {
        grid-column: 9 / 12;
        grid-row: 12 / 16;

        @include mobileMQ {
            grid-column: 9 / 13;
            grid-row: 12 / 16;
        }
    }
}